*{
    box-sizing: border-box;
}

a:link {
    color: rgb(20, 8, 255);
    font-size: 16px;
}

a:hover{
    color: rgb(255, 0, 0);
    font-size: 18px;
    text-decoration: underline;
}

a:active{
    color: rgb(0, 0, 0);
    font-size: 12px;
}

a:visited{
    color: rgb(128, 0, 128);
    font-size: 14px;
}